.prediction-page {
    padding: 0 5rem;
}
.ant-input, .ant-btn {
    height: 2.5rem;
}
.ant-spin-container ul {
    display: none;
}
.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 3rem;
}
.subtitle {
    font-size: 1rem;
    font-weight: normal;
    margin-left: 2rem;
}
.h-inline {
    display: inline-block;
}

.prediction-part1 {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    padding-bottom: 2rem;
    border-bottom: #E1E2E8 1px solid;
}
.prediction-part1 .left-form {
    width: 24rem;
}
.prediction-part1 .left-form .input-phone-number {
    width: 18rem;
}
.prediction-part1 .left-form .button-captcha {
    width: 5rem;
    margin-left: 1rem;
}
.prediction-part1 .left-form .p-intro {
    margin: 0;
    font-size: 0.9rem;
    line-height: 1.75rem;
    color: #7D7E84;
}
.prediction-part1 .left-form .button-summit {
    width: 100%;
}
.prediction-part1 .right-map .img-map {
    width: 40rem;
    height: 33rem;
}

.prediction-part2 {
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: #E1E2E8 1px solid;
}
.prediction-part2 .prediction-info {
    display: flex;
    justify-content: space-between;
}
.prediction-part2 .prediction-info .left-info {
    width: 24rem;
    padding-left: 3rem;
}
.prediction-part2 .prediction-info .left-info div {
    margin-bottom: 2.5rem;
}
.prediction-part2 .prediction-info .left-info div:nth-child(1),
.prediction-part2 .prediction-info .left-info div:nth-child(2) {
    width: 50%;
    display: inline-block;
}
.prediction-part2 .prediction-info .left-info div span {
    font-size: 0.8rem;
    color: #101010;
}
.prediction-part2 .prediction-info .left-info div .left-info-label {
    display: block;
    margin-bottom: 1rem;
}
.prediction-part2 .prediction-info .left-info div .highlight {
    font-size: 1.3rem;
    font-weight: bold;
    color: #09A863;
}
.prediction-part2 .prediction-info .left-info div .highlight:nth-child(4) {
    margin-left: 3rem;
}
.prediction-part2 .prediction-info .right-graph {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.prediction-part2 .prediction-info .right-graph div {
    width: 40rem;
    height: 47%;
    border: #4D4D4D 1px solid;
}

.prediction-part3 {
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: #E1E2E8 1px solid;
}
.prediction-part3 .ant-table .highlight {
    font-size: 1.3rem;
    font-weight: bold;
    color: #09A863;
}
.prediction-part3 .ant-table .focus {
    background-color: #08CC16;
}
.prediction-part3 .ant-table .analysis-season-graph {
    display: flex;
    justify-content: space-between;
    height: 20rem;
}
.prediction-part3 .ant-table .analysis-season-graph div {
    width: 47%;
    height: 100%;
    border: #4D4D4D 1px solid;
}
