@media only screen and (max-width: 992px){
    .prediction-page {
        padding: 0 1rem;
        overflow: hidden;
    }
    .ant-input, .ant-btn {
        height: 2.5rem;
    }
    .ant-spin-container ul {
        display: none;
    }
    .title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 3rem;
    }
    .subtitle {
        font-size: 1rem;
        font-weight: normal;
        margin-left: 0.2rem;
        margin-top: -2rem;
        margin-bottom: 3rem;
    }
    .h-inline {
        display: block;
    }

    .prediction-part1 {
        /*display: flex;*/
        /*flex-direction: column;*/
        /*justify-content: space-between;*/
        margin-top: 5rem;
        padding-bottom: 3rem;
        border-bottom: #E1E2E8 1px solid;
    }
    .prediction-part1 .left-form {
        width: 24rem;
    }
    .prediction-part1 .left-form .input-phone-number {
        width: 16rem;
    }
    .prediction-part1 .left-form .button-captcha {
        width: 5rem;
        float: right;
    }
    .prediction-part1 .left-form .p-intro {
        margin: 0;
        font-size: 0.9rem;
        line-height: 1.75rem;
        color: #7D7E84;
    }
    .prediction-part1 .left-form .button-summit {
        width: 100%;
    }
    /* 移动端暂不提供地图功能 */
    .prediction-part1 .right-map {
        display: none;
    }
    /*.prediction-part1 .right-map .img-map {*/
    /*    width: 40rem;*/
    /*    height: 33rem;*/
    /*}*/

    .prediction-part2 {
        margin-top: 3rem;
        padding-bottom: 3rem;
        border-bottom: #E1E2E8 1px solid;
    }
    .prediction-part2 .decorate {
        width: 6rem;
        position: absolute;
        right: 0;
        margin-top: -230px;
    }
    .prediction-part2 .decorate img {
        width: 6rem;
    }
    .prediction-part2 .decorate span {
        display: inline-block;
        transform: translateX(80%) translateY(170%);
        font-size: 1.5rem;
        font-weight: bold;
        color: white;
    }
    .prediction-part2 .prediction-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .prediction-part2 .prediction-info .left-info {
        width: 20rem;
        padding-left: 0.2rem;
    }
    .prediction-part2 .prediction-info .left-info div {
        margin-bottom: 1.5rem;
    }
    .prediction-part2 .prediction-info .left-info div:nth-child(1),
    .prediction-part2 .prediction-info .left-info div:nth-child(2) {
        width: 50%;
        display: inline-block;
    }
    .prediction-part2 .prediction-info .left-info div span {
        font-size: 0.8rem;
        color: #101010;
    }
    .prediction-part2 .prediction-info .left-info div .left-info-label {
        display: block;
        margin-bottom: 1rem;
    }
    .prediction-part2 .prediction-info .left-info div .highlight {
        font-size: 1.3rem;
        font-weight: bold;
        color: #09A863;
    }
    .prediction-part2 .prediction-info .left-info div .highlight:nth-child(4) {
        margin-left: 3rem;
    }
    .prediction-part2 .prediction-info .right-graph {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 0.2rem;
        height: 30rem;
    }
    .prediction-part2 .prediction-info .right-graph div {
        width: 20rem;
        height: 47%;
        border: #4D4D4D 1px solid;
    }

    .prediction-part3 {
        margin-top: 3rem;
        padding-bottom: 3rem;
        border-bottom: #E1E2E8 1px solid;
    }
    .prediction-part3 .ant-table-wrapper {
        overflow-x: scroll;
    }
    /* 取消 ant design 表格的默认样式：边框、hover时改变背景颜色 */
    .prediction-part3 .ant-table-thead > tr > th,
    .prediction-part3 .ant-table-tbody > tr > td {
        border: 1px white solid !important;
        background-color: white !important;
    }
    .prediction-part3 .ant-table-tbody .hotel {
        border-left: 1px #E1E2E8 solid !important;
    }
    .prediction-part3 .ant-table-tbody > tr > td:nth-child(1) {
        width: 10rem !important;
    }
    /* 调整季节性因素单元格文字位置 */
    .prediction-part3 .ant-table-tbody > tr:nth-child(6) > td:nth-child(1) {
        padding-top: 0;
        padding-bottom: 18rem;
    }
    .prediction-part3 .ant-table-tbody .focus {
        font-size: 1.3rem;
        font-weight: bold;
        color: #09A863;
    }
    .prediction-part3 .ant-table-tbody .analysis-season-graph {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 1rem;
        height: 30rem;
    }
    .prediction-part3 .ant-table-tbody .analysis-season-graph div {
        width: 100%;
        height: 47%;
        border: #4D4D4D 1px solid;
    }
    .prediction-part3 img {
        width: 100%;
        height: 100%;
    }

    .prediction-part4 {
        margin-top: 3rem;
        padding-bottom: 5rem;
    }
    .prediction-part4 .strategy-info div {
        margin-bottom: 2rem;
    }
    .prediction-part4 .strategy-info div span {
        font-size: 0.8rem;
        color: #101010;
    }
    .prediction-part4 .strategy-info div .strategy-label {
        margin-right: 1rem;
    }
    .prediction-part4 .strategy-info div .strategy-label2 {
        margin-left: 0;
    }
    .prediction-part4 .strategy-info div .highlight {
        font-size: 1.3rem;
        font-weight: bold;
        color: #09A863;
    }
    .prediction-part4 .strategy-graph {
        width: 100%;
        height: 30rem;
        border: #4D4D4D 1px solid;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .prediction-part4 img {
        width: 100%;
        height: 50%;
    }

}